[submodule "webapp"]
	path = webapp
	url = git@github.com:crystalcheong/homey.git
[submodule "backend"]
	path = backend
	url = git@github.com:swe-homey/flask-api.git
[submodule "docs"]
	path = docs
	url = git@github.com:swe-homey/docs.git
